* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets//images/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 2rem;
  min-height: 100vh;
  
}


.tasks {
  .filtered-Tasks > button {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    &:focus {
      transform: scale(1.06);
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -ms-transform: scale(1.06);
      -o-transform: scale(1.06);
}
}
}



